
.ratioButton {
    margin-left: 15px;
    font-size: 19px;
    font-weight: bold;
  }
  
  .ratioButton input[type=radio] {
    display: none;
  }
  .ratioButton input[type=radio] + label {
    position: relative;
    display: inline-block;
    padding-left: 24px;
    margin-right: 32px;
    cursor: pointer;
    line-height: 16px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
  }
  .ratioButton input[type=radio] + label:before, .ratioButton input[type=radio] + label:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #f5f5f5;
    font-family: Times;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin-top: 2px;
  }
  
  .ratioButton input[type=radio] + label:before {
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #ffffff, inset 0 0 0 16px #44bb6e;
    width: 25px;
    height: 25px;
    padding-bottom: 10px;
  }
  .ratioButton input[type=radio] + label:hover {
    color: #44bb6e;
  }
  .ratioButton input[type=radio] + label:hover:before {
    animation-duration: 0.5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #44bb6e, inset 0 0 0 16px #ffffff, inset 0 0 0 16px #44bb6e;
  }
  
  .ratioButton input[type=radio]:checked + label:hover {
    color: #333333;
    cursor: default;
  }
  .ratioButton input[type=radio]:checked + label:before {
    animation-duration: 0.2s;
    animation-name: select-radio;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #44bb6e, inset 0 0 0 3px #ffffff, inset 0 0 0 16px #44bb6e;
  }
  
  
  @keyframes select-radio {
    0% {
      box-shadow: 0 0 0 0 #91deac, inset 0 0 0 2px #ffffff, inset 0 0 0 3px #44bb6e, inset 0 0 0 16px #ffffff, inset 0 0 0 16px #44bb6e;
    }
    90% {
      box-shadow: 0 0 0 10px #e8fff0, inset 0 0 0 0 #ffffff, inset 0 0 0 1px #44bb6e, inset 0 0 0 2px #ffffff, inset 0 0 0 16px #44bb6e;
    }
    100% {
      box-shadow: 0 0 0 12px #e8fff0, inset 0 0 0 0 #ffffff, inset 0 0 0 1px #44bb6e, inset 0 0 0 3px #ffffff, inset 0 0 0 16px #44bb6e;
    }
  }
  
  